body {

    background: #8D98A7;
 }
 
 h1 {
     text-align: center;
     display: inline-block;
     position: relative;
     width: 100%;
     color: #231123;
     font-family: Courier New, monospace;
 
 }
 
 #todo {
     display: block;
     margin-left: auto;
     margin-right: auto;
   
 }
 
 #add {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     color: white;
     background-color: #231123;
     font-size: 25px;
     text-decoration:none;
     border: none;
 }
 
 #add:hover {
     color: white;
     background-color: #EAB464;
 }
 
 #todo {
     font-size: 25px;
     border: none;
     border-radius: 4px;
     margin-bottom: 20px;
 }
 
 button {
     color: white;
     background-color: #231123;
     border-radius: 4px;
     text-decoration: none;
     border:none;
     padding: 10px;
     /* margin-left: 200px; */
 }

 
 input {
     width: 20px;
     height: 20px;
     
 }
 
 #delete:hover {
    background-color: #EAB464;
}

#sort {
    display: block;
     margin-left: auto;
     margin-right: auto;
}

#check, #delete {
    /* display: inline-block; */
    display: block;
     margin-left: auto;
     margin-right: auto;
    
     
}

#delete{
 margin-top: 10px;
}

#sort:hover {
    background-color: #EAB464;
}

:check p {
    text-decoration: line-through;
    color: purple;
}


